[submodule "vendor/ZF2"]
	path = vendor/ZF2
	url = https://github.com/zendframework/zf2.git
[submodule "module/Debug"]
	path = module/Debug
	url = git@github.com:deanrobertcook/Debug.git
[submodule "module/User"]
	path = module/User
	url = git://github.com/deanrobertcook/User.git
